* {
  box-sizing: border-box;
}

:root {
  --black-color: #221f1f 1.18%;
  --grey-color: #605b5b 100%;
}

body {
  margin: 0;
}

main {
  padding: 36px;
}

.header {
  background: linear-gradient(90deg, var(--black-color), var(--grey-color));
  height: 65px;
  padding: 18px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}


.header--image {
  height: 100%;
  margin-right: 6px;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form--input {
  border: 1px solid #D5D4D8;
  border-radius: 5px;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  border-radius: 5px;
  background: linear-gradient(90deg, var(--black-color), var(--grey-color));
  color: white;
  border: none;
  cursor: pointer;
}

.meme--Image--div {
  display: flex;
  position: relative;
  margin-top: 17px;
  height: 500px;
}

.meme--image {
  margin: 0 auto;
  max-width: 100%;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
    2px 2px 0 var(--black-color),
    -2px -2px 0 var(--black-color),
    2px -2px 0 var(--black-color),
    -2px 2px 0 var(--black-color),
    0 2px 0 var(--black-color),
    2px 0 0 var(--black-color),
    0 -2px 0 var(--black-color),
    -2px 0 0 var(--black-color),
    2px 2px 5px var(--black-color);
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}